* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    min-width: 420px;
}

.load_block {
    position: fixed;
    top: 0;
    left: 0;
    background: black;
    width: 100%;
    height: 100vh;
    z-index: 1000000;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80px;
    display: flex;
    align-items: center;
}

.obj {
    width: 10px;
    height: 80px;
    background: blue;
    margin: 0 3px;
    border-radius: 10px;
    animation: loading .8s infinite;
}

.obj:nth-child(2) {
    animation-delay: .1s;
}

.obj:nth-child(3) {
    animation-delay: .2s;
}

.obj:nth-child(4) {
    animation-delay: .3s;
}

.obj:nth-child(5) {
    animation-delay: .4s;
}

.obj:nth-child(6) {
    animation-delay: .5s;
}

.obj:nth-child(7) {
    animation-delay: .6s;
}

.obj:nth-child(8) {
    animation-delay: .7s;
}

@keyframes loading {
    0% {
        height: 0;
    }

    50% {
        height: 80px;
    }

    100% {
        height: 0;
    }
}

header {
    background: url(../images/header-bg.png)no-repeat center center / cover;
    width: 100%;
    height: 100vh;
}

.background {
    background: rgba(255, 0, 0, 0.431);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateY(-100%);
    transition: 2s;
    z-index: 1000;
}

ol,
ul {
    padding: 0 !important;
    margin: 0 !important;

}

.header_sign-in {
    width: 16%;
    height: 22%;
    background: rgba(255, 255, 255, 0.801);
    position: fixed;
    top: 40%;
    left: 42%;
    text-align: center;
    z-index: 1000;
    border-radius: 20px;
}

/* adssadfsadf */
.menu-btn button {
    position: relative;
    font-weight: 500;
    font-size: 21px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 81px;
    background: transparent;
    padding: 15px 70px;
    overflow: hidden;
    transition: 1s;
}


.menu-btn button::after {
    content: '';
    position: absolute;
    background: rgba(255, 238, 0, 0.19);
    width: 100%;
    height: 100%;
    top: 0;
    left: -50%;
    opacity: 0;
    transition: 1s;
    transform: rotate(150deg);
}

.menu-btn button:hover::after {
    left: 0;
    opacity: 1;
}

.menu-btn button::before {
    content: '';
    position: absolute;
    background: rgba(255, 0, 0, 0.19);
    width: 100%;
    height: 100%;
    top: 0;
    right: -50%;
    opacity: 0;
    transition: 1s;
    transform: rotate(150deg);
}

.menu-btn button:hover::before {
    right: 0;
    opacity: 1;
}

.hero-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



/* asdfasdfasfdafds */
.header_sign-in h1 {
    font-size: 24px;
    color: #000;
    text-transform: uppercase;
    padding-top: 20px;
    font-weight: 600;
}

.header_sign-in h1 span {
    color: red;
    font-weight: 800;
}

.header_sign-in button {
    background: none;
    border: none;
    color: #fff;
    padding-top: 28px;

}

.header_sign-in button a {
    color: greenyellow;
    font-size: 56px;
}

.header_sign-in-bl {
    background: rgba(0, 0, 0, 0.781);
    width: 100%;
    height: 100vh;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
}

.registr_block {
    position: fixed;
    background: rgba(0, 0, 0, 0.897);
    width: 100%;
    height: 100vh;
    z-index: 1000;
}

.registratsiya {
    width: 452px;
    height: 500px;
    position: fixed;
    top: 25%;
    left: 37%;
    background: rgb(179, 165, 165);
    border-radius: 20px;
}

.registratsiya h1 {
    text-align: center;
    font-size: 26px;
    line-height: 30px;
    text-transform: uppercase;
    padding-top: 31px;
    color: #000000;
}

.registratsiya p {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #000000;
}

.registratsiya p span {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: rgb(161, 32, 32);
}

.registratsiya form {
    text-align: center;
}

.registratsiya input {
    width: 368px;
    height: 60px;
    border-radius: 15px;
    border: none;
    font-size: 20px;
    line-height: 23px;
    margin-top: 34px;
    padding-left: 10px;
}

.registratsiya .parol {
    position: relative;
}

.registratsiya form i {
    position: absolute;
    right: 48px;
    top: 52px;
    z-index: 1000;
}

.registratsiya button {
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: linear-gradient(106.58deg, #DA4A1C 27.76%, #821717 118.56%);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.24);
    border-radius: 11px;
    padding: 15px 102px 15px 102px;
    text-align: center;
    margin-top: 38px;
}


.registratsiya ul li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;

    color: #948A8A;

}

.registratsiya ul li {
    text-align: center;
    padding-top: 22px;
    margin-left: 24px;
}


.menu-nav,
.menu-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


header li {
    list-style: none;
    margin-right: 40px;
}

.menu-links li a {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    position: relative;
    padding-bottom: 10px;
    overflow: hidden;
    transition: 1s;
}

.menu-links li a:hover::before {
    left: 0;
    transition: 1s;
    opacity: 1;
}

.menu-links li a:hover::after {
    right: 0;
    transition: 1s;
    opacity: 1;
}

.menu-links li a::before {
    content: '';
    bottom: 0;
    left: -20%;
    position: absolute;
    border-bottom: 1px solid #fff;
    width: 50%;
    height: 3px;
    transition: 1s;
    opacity: 0;
}

.menu-links li a::after {
    content: '';
    bottom: 0;
    right: -20%;
    position: absolute;
    border-bottom: 1px solid #fff;
    width: 50%;
    height: 3px;
    transition: 1s;
    opacity: 0;
}

.menu-btn button {
    font-weight: 500;
    font-size: 21px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 81px;
    background: transparent;
    padding: 15px 70px;
}

.header-text h1 {
    font-weight: bold;
    font-size: 41px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.header-text p {
    font-weight: 500;
    font-size: 22px;
    text-align: center;
    color: #FFFFFF;
}

.header-text button {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 81px;
    background: transparent;
    padding: 25px 25px;
    margin-bottom: 20px;
}

.header-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 350px;
}

.menu_open {
    border: none;
    background: transparent;
    font-size: 25px;
    color: burlywood;
    display: none;
}

.menu_close {
    border: none;
    background: transparent;
    font-size: 20px;
    color: burlywood;
    margin: auto;
    margin-top: 20px;

}

.menu-openCloser {
    display: none;
}

/* menu :end
******************************************
reyting start */
.reyting_block {
    background: linear-gradient(145.68deg, rgba(122, 118, 118, 0.45) 8.53%, rgba(102, 91, 91, 0.2115) 91.37%);
    width: 780px;
    border-radius: 20px;
    cursor: pointer;

}

.reyting {
    background: #000;
    width: 100%;
    height: 100vh;
    position: relative;
    padding-left: 600px;
    padding-right: 600px;
    padding-top: 106px;
}

.radio_bl label {
    display: flex;
    padding-top: 22px;

}

.label_father {
    padding-top: 56px;
}

.reyting_top-bottom {
    margin-left: 60px;
    padding-top: 86px;
}

.radio_bl label h1 {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    margin-left: 18px;
}

.reyting_top-text h1 {
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    padding-top: 45px;
}


.reyting_top-text p {
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
    text-align: center;
}

.middle-box {
    width: 320px;
    background: transparent;
    height: 36px;
    border-radius: 20px;
    border: 2px solid black;
    display: flex;
    margin-left: 170px;
}

.label_box {
    border: 3px solid #fff;
    width: 204px;
    border-radius: 26px;
}

.label_box p {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.label_box h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    color: #FFFFFF;
    text-align: center;
}

.box_bottom p {
    border-top: 3px solid #fff;
    width: 100%;
    margin-top: 12px;
}

.grand_father {
    padding-top: 88px;
}

.label_btn button {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    background: linear-gradient(92.96deg, #8A2424 30.55%, #480A0A 83.02%);
    border-radius: 11px;
    color: #FFFFFF;
    padding: 17px 218px;
    margin: 32px;
    border: none;
}

.label_btn button:hover {
    background: linear-gradient(92.96deg, #480A0A 30.55%, #8A2424 83.02%);
}

.reyting_block h1 {
    color: #fff;
}

.middle_element {
    width: 40px;
    height: 30px;
    background: red;
    border-radius: 50%;

}



.active1,
.active2,
.active3,
.active4,
.active5,
.active6,
.active7,
.active8 {
    border-radius: 20px;
    border: 2px solid #Fff;
    padding: 10px;
    position: absolute;
    top: 32%;
    left: 668px;
}

.right-box h1 {
    border-radius: 20px;
    border: 2px solid #Fff;
    padding: 10px;
    margin-right: 75px;
    width: 62%;
    color: #fff;
}

.radio_box input .radio_input {
    z-index: 10000;
}



.reyting-box h1 {
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 210px;
}


.radio_box h1 {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    margin-left: 18px;

}

.radio_box {
    padding-top: 36px;
}



/* scroll 
********************************
/* width */
::-webkit-scrollbar {
    width: 20px;
    background: rgb(0, 0, 0);
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(0, 0, 0);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(0, 60, 255);
    border-radius: 10px;
}

.control-bl {
    padding-top: 84px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* *******************************
scroll */


/* reyting end
**************************************
rang start */
.rang-block {
    background: #000;
}

.rang-text p {
    padding: 0 25%;
}

.rang-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rang-text {
    text-align: center;
    color: #FFFFFF;
    margin-top: 20px;
}

.rang-text p {
    margin-top: 40px;
}

.rang-text h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}

.rang-text button {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 81px;
    background: transparent;
    margin-bottom: 20px;
    padding: 10px 30px;
}

.rang-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Islom boshladi */

.hero_block {
    background: #000;
}


.hero_block img {
    cursor: grab;
}

.hero_block img:active {
    cursor: grabbing;
}


.icon_box i {
    font-size: 35px;
    color: #fff;
    padding: 0.20%;
}

.icon_box p {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    margin-top: 22px;
    padding-bottom: 186px;
}


.icon_father {
    margin-top: 22px;

}






.hero-text h1 {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 86px;
}

.hero-text p {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    padding: 0 15%;
    color: #FFFFFF;
    padding-top: 32px;
}

/* **************************   button   ***************************** */
.hero_text-btn button,
.rang-text button {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    padding: 10px 46px 11px 51px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 36px;
    background: transparent;
    overflow: hidden;
    transition: .5s;
}

.hero_text-btn button:hover,
.rang-text button:hover {
    background: rgb(255, 255, 255);
    color: #000;
}

.hero_text-btn {
    text-align: center;
    padding-top: 36px;
}

.icon_father {
    padding-top: 52px;
}


/* **************************   button   ***************************** */
/* hero :end
**************************************
information start */
.information {
    background: url(../images/information_block.jpg) center center / cover;
    width: 100%;
    height: 100vh;
}

.h1_info {
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    text-transform: uppercase;
    color: #FFFFFF;

}

.information_block h1,
.information_box h1,
.information_plan h1 {
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    color: #FFFFFF;
}

.information_block p,
.information_box p,
.information_plan p {
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
}

.information_block {
    margin-top: 152px;
}

.information_box {
    margin-top: 28px;
}

.information_plan {
    margin-top: 38px;
}

.bottom_p p {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    text-align: end;
    margin-top: 122px;
}

/* information :end
****************************
garant start */
.garant {
    background: url(../images/garantiya_fon.jpg)center center / cover;
    width: 100%;
    height: 100vh;
    box-shadow: -1px -20px 10px 10px #000;
}

.h1_bl h1 {
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 62px;
}

.p_block p {
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: #FFF2F2;

}

.p_block {
    margin-top: 120px;
}

.garant_text h1 {
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
    color: #FFFFFF;
    margin-top: 102px;
}

.garant_text p {
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
    margin-top: 12px;
}

.garant_text h2 {
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
    margin-top: 46px;
}

/* garant :end
********************************
sign-up start */
.sign-up {
    background: url(../images/sign\ up.jpg) center center / cover;
    width: 100%;
    height: 100vh;
    position: relative;
}

.signup_block {
    width: 700px;
    height: 700px;
    background: rgba(255, 255, 255, 0.267);
    border-radius: 20px;
    position: absolute;
    top: 10%;
    left: 32%;
}

.signup_block h1 {
    text-align: center;
    margin-top: 20px;
    color: #fff;
    font-style: 36px;
}

.signup_block input {
    background: none;
    border: 1px solid #fff;
    border-radius: 15px;
    font-size: 16px;
    padding: 10px 0 10px 10px;
    color: #fff;
    list-style: none;
    width: 50%;
}

.signup_block input::placeholder {
    color: white;
    font-size: 15px;
    padding: 10px;
}

.signup_block form ul li {
    list-style: none;
    padding-left: 160px;
    text-align: start;
    margin-top: 14px;
    z-index: 1000;

}

#li-1 {
    padding-right: 225px;
}

#li-2 {
    padding-right: 170px;
}

#li-3 {
    padding-right: 98px;
}

.signup_block ul li a {
    text-decoration: none;
    list-style: none;
    font-size: 12px;
    color: #000;
    background: rgba(255, 255, 255, 0.157);
    border-radius: 15px;
    padding: 10px;

}


form i {
    font-size: 30px;
    cursor: pointer;
}

.hide_box {
    background: rgba(255, 255, 255, 0.589);
    width: 400px;
    height: 200px;
    text-align: center;
    position: fixed;
    top: 40%;
    left: 40%;
    transform: translateX(-100%);

}

.hide_block {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.76);
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
}

.hide_box h1 {
    font-size: 24px;
    text-transform: uppercase;
    color: #fff;
    padding-top: 16px;
}

.Ok_btn {
    padding: 16px;
    border-radius: 45%;
    background: rgb(136, 223, 6);

    margin-top: 36px;
    transition: .5s;
}

.Ok_btn a {
    color: #Fff;
}

.Ok_btn a:hover {
    color: #fff;
}

.Ok_btn:hover {
    background: rgb(102, 163, 11);
    color: #000;
}

.hide_box {
    border-radius: 20px;
}

.input_h1 h1 {
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin-left: -200px;
}

.gmail_block .class_gmail {
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin-left: -150px;
}

.class_name {
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin-left: -300px;
}

.sms_block h1 {
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin-left: -220px;
}

.sms_block input {
    padding-bottom: 100px;
}

.go_btn #btnclr1 {
    width: 200px;
    margin-top: 56px;
    padding: 12px 50px;
    color: #Fff;
    background: linear-gradient(#e66465, #646464);
    border-radius: 30px;
}

#btnclr1:hover {
    background: linear-gradient(#646464, #e66465);
}

/* section :end
********************************
footer start */
footer {
    background: #2D2C2C;
    padding-top: 18px;
}

.oplata h1 {
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;

}

.footer_father {
    padding-top: 48px;
}

.oplata p {
    font-size: 12px;
    line-height: 14px;
    color: #FFFEFE;
    padding-top: 16px;
}

.img_block img {
    padding-left: 10px;
}

.gmail_box h1 {
    font-size: 18px;
    line-height: 21px;
    color: #FBFBFB;
}

.gmail_box p {
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}

.pravila_block h1 {
    font-size: 18px;
    line-height: 21px;
    text-align: start;
    color: #FBFBFB;
}

.pravila_block p {
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}

.bottom_h1 {
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 18px;
    padding-top: 46px;
    margin: 0;
}

@media(max-width:1629px) {
    .reyting {
        padding-left: 436px;
    }

    .active1,
    .active2,
    .active3,
    .active4,
    .active5,
    .active6,
    .active7,
    .active8 {
        top: 36%;
        left: 508px;
    }

    .hero-text h1 {
        padding-top: 260px;
    }

    .hero-box {
        height: 100vh;
        padding-top: 36px;
    }

    .hide_box {
        top: 33%;
        left: 37%;
    }
}

@media(max-width:1535px) {
    .header_sign-in {
        width: 24%;
        height: 24%;
    }
}

@media(max-width:1441px) {
    .reyting {
        padding-left: 323px;
    }

    .active1,
    .active2,
    .active3,
    .active4,
    .active5,
    .active6,
    .active7,
    .active8 {
        top: 37%;
        left: 405px;
    }

    .signup_block {
        left: 26%;
    }

    .hide_box {
        left: 36%;
    }
}

@media(max-width:1400px) {
    .menu-links li a {
        font-size: 18px;
    }
}

@media(max-width:1300px) {
    .reyting {
        padding-left: 254px;
    }

    .active1,
    .active2,
    .active3,
    .active4,
    .active5,
    .active6,
    .active7,
    .active8 {
        left: 329px;
    }

    .signup_block {
        left: 23%;
    }
}

@media(max-width:1199px) {
    .rang-text p {
        padding: 0px 14%;
    }

    .reyting {
        padding-left: 178px;
    }

    .active1,
    .active2,
    .active3,
    .active4,
    .active5,
    .active6,
    .active7,
    .active8 {
        left: 256px;
        top: 311px;
    }

    .hero-text p {
        padding: 0px 0%;
        padding-top: 32px;
    }

    .hero_text-btn {
        padding-top: 12px;
    }

    .icon_father {
        padding-top: 8px;
    }

    .hero-text h1 {
        padding-top: 152px;
    }

    .h1_info {
        font-size: 28px;
    }

    .garant_text h1 {
        font-size: 22px;
        margin-top: 48px;
    }

    .garant_text h1 {
        font-size: 22px;
        line-height: 30px;
        margin-top: 48px;
    }

    .h1_info {
        line-height: 0;
        padding-top: 20px;
    }

    .h1_bl h1 {
        font-size: 28px;
        line-height: 0;
        padding-top: 34px;
    }

    .signup_block {
        left: 21%;
    }

    .information_block p,
    .information_box p,
    .information_plan p {
        font-size: 18px;
        line-height: 22px;
    }

    .bottom_p p {
        font-size: 16px;
        line-height: 0;
        margin-top: 125px;
    }

    .p_block p {
        font-size: 18px;
        line-height: 20px;
    }

    .garant_text h1 {
        font-size: 20px;
        line-height: 6px;
        margin-top: 32px;
    }

    .garant_text p {
        font-size: 18px;
        line-height: 19px;
        margin-top: 12px;
    }

    .garant_text h2 {
        font-size: 18px;
    }

    .hide_box {
        left: 34%;
    }
}

@media(max-width:1199px) {
    .menu-btn button {
        font-size: 14px;
        padding: 11px 54px;
    }

    .menu-links li a {
        font-size: 14px;
    }

    .icon_box p {
        padding-bottom: 45px;
    }
}

@media(max-width:1140px) {
    .header_sign-in {
        width: 29%;
        left: 35%;
    }
}

@media(max-width:1111px) {
    .signup_block {
        left: 20%;
    }

    .reyting_top-text h1 {
        font-size: 22px;
        line-height: 26px;
        padding-top: 36px;
    }

    .reyting_top-text p {
        font-size: 18px;
        line-height: 21px;
    }

    .reyting_block h1 {
        font-size: 28px;
    }

    .right-box h1 {
        width: 53%;
    }

    .active1,
    .active2,
    .active3,
    .active4,
    .active5,
    .active6,
    .active7,
    .active8 {
        padding-bottom: 1px;
        left: 262px;
        top: 265px;
    }

    .control-bl {
        padding-top: 48px;
    }

    .reyting_top-bottom {
        padding-top: 34px;
    }

    .hero-box {
        height: 100vh;
        padding-top: 0;
    }

    .signup_block .h1,
    h1 {
        font-size: calc(1.15rem + 1.5vw);
    }

    .registratsiya {
        left: 31%;
    }

    .hide_box {
        left: 31%;
    }
}

@media(max-width:1060px) {
    .reyting {
        padding-left: 130px;
    }

    .active1,
    .active2,
    .active3,
    .active4,
    .active5,
    .active6,
    .active7,
    .active8 {
        left: 229px;
    }

    .signup_block {
        left: 17%;
    }

    .help {
        font-size: 28px !important;
    }


}

@media(max-width:1000px) {
    .hero-text p {
        padding-top: 24px;
    }

    .hero-text p {
        font-size: 12px;
        line-height: 20px;
    }

    .hero-text h1 {
        padding-top: 30px;
    }

    .hero-text p {
        padding: 0px 13%;
        padding-top: 38px;
    }

    .hero_text-btn button {
        font-size: 11px;
        line-height: 20px;
        padding: 8px 39px 6px 45px;
    }

    .icon_box p {
        font-size: 10px;
        line-height: 6px;
        margin-top: 22px;
    }

    .registratsiya {
        left: 28%;
    }
}

@media(max-width:991px) {
    .menu-openCloser {
        display: block;
    }

    header {
        position: relative;
    }

    .hide_block {
        height: 100%;
    }

    .menu-links {
        position: fixed;
        width: 20%;
        height: 50vh;
        background: rgba(0, 0, 0, 0.774);
        flex-direction: column;
        top: 25%;
        left: 0;
        justify-content: center;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        transition: 1s;
        transform: translate(-100%);
    }

    .menu-links li {
        margin-top: 40px;
        justify-content: center;
        align-items: center;
        margin-right: 0;
    }

    .menu_open {
        display: block;
    }



    .rang-text p {
        padding: 0px 0%;
    }

    .signup_block {
        left: 15%;
    }

    .h1_info {
        font-size: 28px;
        line-height: 0px;
    }

    .information_block p,
    .information_box p,
    .information_plan p {
        font-size: 18px;
    }

    .information_block h1,
    .information_box h1,
    .information_plan h1 {
        font-size: 24px;
        line-height: 24px;
    }

    .h1_bl h1 {
        padding-top: 0;
    }

    .garant_text h1 {
        margin-top: 48px;
    }

    .header-text h1 {
        font-size: 32px;
    }

    .header-text p {
        font-size: 17px;
    }

    .header-text {
        margin-top: 175px;
    }

    .header-text button {
        font-size: 18px;
        line-height: 5px;
    }

    .menu-nav,
    .menu-links {
        z-index: 1000;

    }

    .menu-links {
        transform: translateX(-100%);
    }

    .menu-btn button {
        font-size: 14px;
    }

    .menu-btn button {
        margin-left: -100px;
    }

    .reyting_block {
        width: 100%;
    }

    .hero_block {
        display: none;
    }

    .reyting {
        padding-right: 0;
        padding-left: 0;
    }

    .radio_bl label h1 {
        font-size: 12px;
        line-height: 12px;
        margin-left: 10px;
    }

    .label_btn button {
        font-size: 11px;
        margin: 16px;
    }

    .label_box h2 {
        font-size: 20px;
        line-height: 16px;
    }

    .label_father {
        padding-top: 22px;
    }

    .grand_father {
        padding-top: 68px;
    }

    .reyting_block h1 {
        font-size: 24px;
    }

    .control-bl {
        padding-top: 26px;
    }

    .active1,
    .active2,
    .active3,
    .active4,
    .active5,
    .active6,
    .active7,
    .active8 {
        top: 241px;
    }

    .h1_info {
        padding-top: 30px;
    }


    .h1_bl h1 {
        padding-top: 30px;
    }

    .background {
        height: 100%;
    }

    .registr_block {
        height: 100vh;
    }

    .header_sign-in-bl {
        height: 100%;
    }

    .hide_box {
        left: 32%;
    }
}

@media(max-width:939px) {

    .active1,
    .active2,
    .active3,
    .active4,
    .active5,
    .active6,
    .active7,
    .active8 {
        left: 20%;
    }
}

@media(max-width:892px) {
    .signup_block {
        left: 11%;
    }

    .registratsiya {
        left: 25%;
    }
}

@media(max-width:872px) {
    .signup_block {
        width: 100%;
        height: 100vh;
        border-radius: 0;
        top: 0;
        left: 0;
    }

    .sign-up {
        height: 100vh;
    }

    .signup_block form ul li {
        padding-left: 245px;
    }

    .input_h1 h1 {
        margin-left: -270px;
    }

    .gmail_block .class_gmail {
        margin-left: -215px;
    }

    .signup_block .class_name {
        margin-left: -370px;
    }

    .sms_block h1 {
        margin-left: -285px;
    }
}

@media(max-width:825px) {
    .menu-links {
        width: 24%;
    }

    .header_sign-in {
        width: 36%;
        left: 31%;
    }

    .hide_box {
        left: 26%;
    }
}

@media(max-width:800px) {
    .signup_block form ul li {
        padding-left: 210px;
    }

    .input_h1 h1 {
        margin-left: -230px;
    }

    .gmail_block .class_gmail {
        margin-left: -175px;
    }

    .signup_block .class_name {
        margin-left: -340px;
    }

    .sms_block h1 {
        margin-left: -255px;
    }
}

@media(max-width:767px) {
    .rang-text h3 {
        font-size: 20px;
    }

    .rang-text p {
        font-size: 10px;
    }
}

.deactive {
    display: none !important;
}

.active {
    display: block !important;
}

.clear {
    position: relative;
}

.clearTxt {
    position: relative;
    right: 40px;
    top: 6px;
    bottom: 0;
}

.signup_block form ul li {
    padding-left: 180px;
}

@media(max-width:767px) {
    .middle-box {
        width: 248px;
        margin-left: 128px;
    }

    .active1,
    .active2,
    .active3,
    .active4,
    .active5,
    .active6,
    .active7,
    .active8 {
        left: 23%;
    }

    .radio_bl label h1 {
        font-size: 9px;
        line-height: 9px;
        margin-left: 8px;
    }

    .label_father {
        padding-top: 0;
    }

    .label_box {
        width: 156px;
    }

    .grand_father {
        padding-top: 38px;
    }

    .label_box h2 {
        font-size: 16px;
        line-height: 6px;
    }

    .label_box p {
        font-size: 13px;
        line-height: 14px;
    }

    .label_btn button {
        font-size: 12px;
        padding: 8px 122px;
        margin: 24px;
    }

    .information_block p,
    .information_box p,
    .information_plan p {
        line-height: 14px;
        font-size: 13px;
    }

    .p_block p {
        font-size: 14px;
        line-height: 16px;
    }

    .garant_text p {
        font-size: 16px;
        line-height: 14px;
        margin-top: 11px;
    }

    .garant {
        height: 100vh;
        box-shadow: none;
    }

    .h1_bl h1 {
        font-size: 22px;
    }

    .h1_info {
        font-size: 24px;
    }

    .bottom_p p {
        margin-top: 63px;
    }

    .information {
        height: 100vh;
    }

    .garant_text h1 {
        font-size: 16px;
    }

    .reyting {
        height: 100vh;
    }

    .garant_text h2 {
        font-size: 14px;
        line-height: 20px;
        margin-top: 35px;
    }

    .registratsiya {
        left: 23%;
    }
}

@media(max-width:740px) {

    .active1,
    .active2,
    .active3,
    .active4,
    .active5,
    .active6,
    .active7,
    .active8 {
        left: 22%;
    }

    .registratsiya {
        left: 20%;
    }
}

@media(max-width:732px) {
    .signup_block form ul li {
        padding-left: 180px;
    }

    .input_h1 h1 {
        margin-left: -200px;
    }

    .gmail_block .class_gmail {
        margin-left: -135px;
    }

    .signup_block .class_name {
        margin-left: -310px;
    }

    .sms_block h1 {
        margin-left: -220px;
    }
}

@media(max-width:710px) {

    .active1,
    .active2,
    .active3,
    .active4,
    .active5,
    .active6,
    .active7,
    .active8 {
        left: 21%;
    }

    .menu-links {
        position: fixed;
        width: 28%;
    }

    .hide_box {
        left: 22%;
    }
}

@media(max-width:690px) {

    .active1,
    .active2,
    .active3,
    .active4,
    .active5,
    .active6,
    .active7,
    .active8 {
        left: 20%;
    }

    .registratsiya {
        left: 18%;
    }
}

@media(max-width:674px) {
    .rang-box {
        display: grid;
        grid-template-columns: repeat(1fr, 1fr);
    }

    .rang-text {
        grid-row-start: 2;
    }

    img,
    svg {
        grid-row-start: 1;
    }

    .signup_block form ul li {
        padding-left: 160px;
    }

    .input_h1 h1 {
        margin-left: -170px;
    }

    .gmail_block .class_gmail {
        margin-left: -110px;
    }

    .signup_block .class_name {
        margin-left: -280px;
    }

    .sms_block h1 {
        margin-left: -195px;
    }

}

@media(max-width:665px) {

    .active1,
    .active2,
    .active3,
    .active4,
    .active5,
    .active6,
    .active7,
    .active8 {
        left: 19%;
    }

    .header_sign-in {
        width: 40%;
        left: 28%;
        top: 34%;
    }

    .hide_box {
        left: 20%;
    }
}

@media(max-width:649px) {

    .active1,
    .active2,
    .active3,
    .active4,
    .active5,
    .active6,
    .active7,
    .active8 {
        left: 18%;
    }
}

@media(max-width:625px) {
    .menu-links {
        width: 31%;
    }

    .active1,
    .active2,
    .active3,
    .active4,
    .active5,
    .active6,
    .active7,
    .active8 {
        left: 17%;
    }

    .registratsiya {
        left: 16%;
        top: 19%
    }


    .signup_block form ul li {
        padding-left: 140px;
    }

    .input_h1 h1 {
        margin-left: -150px;
    }

    .gmail_block .class_gmail {
        margin-left: -90px;
    }

    .signup_block .class_name {
        margin-left: -260px;
    }

    .sms_block h1 {
        margin-left: -170px;
    }

    #li-1 {
        padding-right: 188px;
    }

    #li-2 {
        padding-right: 136px;
    }

    #li-3 {
        padding-right: 62px;
    }
}

@media(max-width:600px) {

    .active1,
    .active2,
    .active3,
    .active4,
    .active5,
    .active6,
    .active7,
    .active8 {
        left: 16%;
        top: 24%;
    }

    .reyting {
        padding-top: 36px;
    }

    .registratsiya {
        left: 13%;
    }

    .header_sign-in {
        width: 46%;
        left: 26%;
    }
}

@media(max-width:580px) {

    .active1,
    .active2,
    .active3,
    .active4,
    .active5,
    .active6,
    .active7,
    .active8 {
        left: 15%;
    }

}

@media(max-width:575px) {

    .active1,
    .active2,
    .active3,
    .active4,
    .active5,
    .active6,
    .active7,
    .active8 {
        left: 13%;
    }

    .middle-box {
        width: 269px;
        margin-left: 140px;
    }

    .rang-box img {
        grid-row-start: 1fr;
        width: 100%;
    }

    .rang-box {
        display: flex;
    }

    .rang-text {
        width: 80%;
    }

    .control-bl {
        display: flex;
        flex-direction: column;
    }

    .middle-box {
        margin-left: 0;
    }

    .right-box h1 {
        margin-right: 0px;
        width: 27%;
        margin-left: 200px;
    }

    .active1,
    .active2,
    .active3,
    .active4,
    .active5,
    .active6,
    .active7,
    .active8 {
        left: 25%;
        top: 29%;
    }

    .registratsiya {
        left: 11%;
    }



    .signup_block form ul li {
        padding-left: 140px;
    }

    .input_h1 h1 {
        margin-left: -130px;
    }

    .gmail_block .class_gmail {
        margin-left: -75px;
    }

    .signup_block .class_name {
        margin-left: -240px;
    }

    .sms_block h1 {
        margin-left: -150px;
    }

    #li-1 {
        padding-right: 150px;
    }

    #li-2 {
        padding-right: 95px;
    }

    #li-3 {
        padding-right: 25px;
    }

    .hide_box {
        left: 16%;
    }
}

@media(max-width:540px) {
    .registratsiya {
        left: 8%;
    }
}

@media(max-width:521px) {
    .rang-text h3 {
        font-size: 16px;
    }

    .rang-text p {
        margin-top: 20px;
        font-size: 9px;
    }

    .hero_text-btn button,
    .rang-text button {
        font-size: 11px;
    }

    .h1_info {
        font-size: 18px;
    }

    .information_block h1,
    .information_box h1,
    .information_plan h1 {
        font-size: 18px;
        line-height: 6px;
    }

    .information_block p,
    .information_box p,
    .information_plan p {
        line-height: 12px;
        font-size: 11px;
    }

    .bottom_p p {
        font-size: 13px;
        margin-top: 50px;
    }

    .information {
        height: 100vh;
    }

    .h1_bl h1 {
        font-size: 18px;
    }

    .p_block p {
        font-size: 12px;
        line-height: 13px;
    }

    .garant_text h1 {
        font-style: 14px;
        margin-top: 25px;
    }

    .garant_text p {
        font-size: 12px;
        line-height: 12px;
        margin-top: 7px;
    }

    .garant {
        height: 100vh;
    }

    .radio_bl label {
        padding-top: 18px;
    }

    .radio_bl label h1 {
        font-size: 8px;
        line-height: 7px;
        margin-left: 6px;
    }




    .signup_block form ul li {
        padding-left: 120px;
    }

    .input_h1 h1 {
        margin-left: -100px;
    }

    .gmail_block .class_gmail {
        margin-left: -50px;
    }

    .signup_block .class_name {
        margin-left: -200px;
    }

    .sms_block h1 {
        margin-left: -120px;
    }

    #li-1 {
        padding-right: 140px;
    }

    #li-2 {
        padding-right: 85px;
    }

    #li-3 {
        padding-right: 15px;
    }

    .menu-links {
        width: 39%;
    }

    .header_sign-in {
        width: 51%;
        left: 23%;
    }

    .hide_box {
        left: 12%;
    }
}

@media(max-width:511px) {
    .registratsiya {
        left: 6%;
    }
}

@media(max-width:490px) {
    .registratsiya {
        left: 4%;
    }
}

@media(max-width:475px) {

    .active1,
    .active2,
    .active3,
    .active4,
    .active5,
    .active6,
    .active7,
    .active8 {
        left: 22%;
    }

    .label_btn button {
        font-size: 11px;
        padding: 10px 90px;
        margin: 13px;
    }

    .header-text h1 {
        font-size: 22px;
    }

    .header-text p {
        font-size: 14px;
    }

    .header-text button {
        font-size: 14px;
        line-height: 0px;
    }

    .registratsiya {
        left: 3%;
    }

    .header_sign-in {
        width: 57%;
        left: 20%;
    }

    .hide_box {
        left: 7%;
    }
}

@media(max-width:468px) {
    .registratsiya {
        left: 2%;
    }
}

@media(max-width:465px) {
    .registratsiya {
        left: 1%;
    }
}

@media(max-width:458px) {
    .registratsiya {
        left: 0;
        width: 100%;
    }


    .signup_block form ul li {
        padding-left: 100px;
    }

    .input_h1 h1 {
        margin-left: -80px;
    }

    .gmail_block .class_gmail {
        margin-left: -10px;
    }

    .signup_block .class_name {
        margin-left: -160px;
    }

    .sms_block h1 {
        margin-left: -70px;
    }

    #li-1 {
        padding-right: 110px;
    }

    #li-2 {
        padding-right: 60px;
    }

    #li-3 {
        padding-right: 0;
    }

    .signup_block ul li a {
        font-size: 11px;
    }

    .menu-links {
        width: 43%;
    }

    .hide_box {
        left: 6%;
    }
}

@media(max-width:432px) {
    .hide_box {
        left: 4%;
    }
}

@media(max-width:427px) {

    .hero_text-btn button,
    .rang-text button {
        padding: 3px 35px 7px 33px;

    }

    .active1,
    .active2,
    .active3,
    .active4,
    .active5,
    .active6,
    .active7,
    .active8 {
        left: 19%;
    }
}

@media(max-width:419px) {
    .header_sign-in {
        width: 63%;
        left: 18%;
    }

    .hide_box {
        left: 2%;
    }
}

@media(max-width:356px) {
    .header_sign-in {
        height: 20%;
    }
}

@media(max-width:327px) {
    .header_sign-in {
        height: 16%;
    }
}

@media(max-width:320px) {
    .header_sign-in {
        height: 21%;
    }
}




@media(max-width:600px){
    .left-box,.right-box{
        display: none;
    }
}


@media(max-height:743px),(max-width:991px){
    .menu-links {
        height: 65%;
    }
}


@media(max-height:739px){
    .menu-links {
        height: 60%;
    }
}
@media(max-height:677px){
    .reyting {
        height: 120vh;
    }
    .menu-links {
        height: 60%;
    }
}
@media(max-height:634px) {
    .go_btn #btnclr1 {
        margin-top: 20px;
    }
}
@media(max-height:617px) {
    .menu-links {
        height: 66%;
    }
}

@media(max-height:580px) {
    .go_btn #btnclr1 {
        margin-top: 8px;
        padding: 6px 4px;
    }
    .garant {
        height: 116vh;
    }
    header {
        height: 130vh;
    }
}

@media(max-height:573px) {
    .sign-up {
        height: 116vh;
    }

    .signup_block {
        height: 116vh;
    }
    .go_btn #btnclr1 {
        margin-top: 30px;
        padding: 10px 4px;
    }
    .information {
        height: 116vh;
    }
    .reyting {
        height: 140vh;
    }
    .menu-links {
        height: 71%;
    }
}

@media(max-height:515px) {
    .sign-up {
        height: 130vh;
    }

    .signup_block {
        height: 130vh;
    }
    .go_btn #btnclr1 {
        margin-top: 54px;
    }
    
}
@media(max-height:503){
    .menu-links {
        height: 58%;
    }
}
@media(max-height:480px) {
    .sign-up {
        height: 150vh;
    }

    .signup_block {
        height: 150vh;
    }
    .go_btn #btnclr1 {
        margin-top: 34px;
    }
    .garant {
        height: 130vh;
    }
    .information {
        height: 130vh;
    }
}